{% extends 'base.html' %}


{% block title %}
    Employer
{% endblock %}


{% block content %}


    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h1 class="display-3" style="text-align: center; font-weight: 300; margin-top: 40px">Find Domestic Service as a Client/Employer</h1>

            <h1 class="lead" style="text-align: center; font-weight: 300; margin-top: 40px">Get to hire the right professional so as to get the best domestic service.</h1>

        </div>
    </div>

    <div class="container">

        <div class="col-md-12" style="padding: 20px; margin-top: 60px; margin-bottom: 60px;">

            <h1 class="text-center" style="margin-bottom: 60px; font-weight: 300">Find the service you need</h1>

            <div class="row" style="margin-bottom: 60px; margin-top: 120px">
                <div class="col-md-4">
                    <img class="img-fluid" width="100%"  src="/ajira_static/images/employer/carpenter.png"/>
                    <h3>Carpentry</h3>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid" width="100%" src="/ajira_static/images/employer/cleaning.png"/>
                    <h3>Cleaning</h3>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid" width="100%" src="/ajira_static/images/employer/nairobi-cooking-class.jpg"/>
                    <h3>Cooking</h3>
                </div>
            </div>
            <div class="row" style="margin-bottom: 60px; margin-top: 60px">
                <div class="col-md-4">
                    <img class="img-fluid" width="100%" src="/ajira_static/images/employer/plumbing.png"/>
                    <h3>Plumbing</h3>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid" width="100%" src="/ajira_static/images/employer/tailoring.png"/>
                    <h3>Tailoring</h3>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid" width="100%" src="/ajira_static/images/employer/gardening.png"/>
                    <h3>Gardening</h3>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="padding: 20px; margin-top: 60px; margin-bottom: 60px;">

            <h1 class="text-center" style="margin-bottom: 60px; font-weight: 300">How to find service with Ajira</h1>

            <div class="row text-center" >

                <div class="offset-lg-2 col-lg-8">
                    <h3 style="margin-bottom: 60px; font-weight: 200">You post job to define the type of services you need. Tell us the kinds of skills & services you need, the location
                        for the job, desired schedule and proposed rate of compensation. You can then publish your personalized job to the Ajira Domestic Worker
                        community.</h3>
                </div>
            </div>
            <img style="" class="img-fluid" src="/ajira_static/images/employer/employerProcess.png">
        </div>

        <hr style="margin-top: 30px; margin-bottom: 30px"/>

        <div class="col-md-12" style="margin-bottom: 60px; margin-top: 60px">
            <!--<h1 class="text-center" style="margin-bottom: 60px; font-weight: 300">Join Us</h1>-->
            <div class="row">
                <div class="col-md-6">
                    <div class="card text-center">
                        <div class="card-block">
                            <h3 class="card-title">Want to recommend a former Employee?</h3>
                            <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
                            <a href="{% url 'recommend' %}" class="btn btn-primary" style="background-color: #2f5597;">Recommend an Ajiriwa</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card text-center" >
                        <div class="card-block">
                            <h3 class="card-title">Want to post a job?</h3>
                            <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
                            <a href="{% url 'post_job' %}" class="btn btn-primary" style="background-color: #2f5597;">Post a Job</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}