{% extends 'base.html' %}

{% load static %}

{% block title %}
My Profile
{% endblock %}

{% load custom_humanize %}


{% block content %}
<link href="{% static 'css/cdn_ajira_timeline.css' %}" rel="stylesheet">

<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-3" style="text-align: center; font-weight: 300; margin-top: 40px">My Profile</h1>
    </div>
</div>

<div class="container">

    <div class="col-md-12">


        <div class="row">
            <div class="col-md-9">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card" style="margin-bottom: 60px">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-md-4" style="margin-right: 40px">
                                        <img class="img-thumbnail" width="500px"
                                             src="{{ employer.employer_avatar.url }}">
                                    </div>
                                    <div class="col-md-5">
                                        <h4 style="margin-top: 30px" class="card-title">I'm <span
                                                style="font-weight: bold">{{ employer.employer_name }}</span>
                                        </h4>
                                        <hr>
                                        <p class="card-text"><span
                                                class="profile_text_titles"><img width="32px" style="margin-right: 10px"
                                     src="{% static 'images/my_profile/placeholder.svg' %}" alt="Location"></span>
                                            {{employer.constituency_id }}, {{employer.county_id }}
                                        </p>

                                        <a href="#" class="btn btn-primary"
                                           style="margin-top: 20px; background: #4a58a5">Contact
                                            Employer</a>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>


                </div>

                <div class="row" style="margin-bottom: 60px">
                    <div class="col-md-4">
                        <div class="card text-center">
                            <div class="card-block">
                                <img width="64px" style="margin-bottom: 10px"
                                     src="{% static 'images/my_profile/029-laptop.svg' %}">
                            <h4 class="card-text">Posted Jobs</h4>
                            <p>{{ total_no_jobs}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-center">
                            <div class="card-block">
                                <img width="64px" style="margin-bottom: 10px"
                                     src="{% static 'images/my_profile/080-people.svg' %}">
                            <h4 class="card-text">Recommendations Made</h4>
                            <p>{{ total_no_recommendations}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-center">
                            <div class="card-block">
                                <img width="64px" style="margin-bottom: 10px" alt="Edit Profile"
                                     src="{% static 'images/my_profile/022-id-card-2.svg' %}">
                            <h4 class="card-text">Employees Got</h4>
                            <p>0</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 60px">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Job Applicants</h4>
                            </div>
                            <div class="card-table">
										<div class="table-responsive">
											<table class="table" title="A table within a card">
												<thead>
													<tr>
														<th>Worker ID</th>
														<th>Worker Phone Number</th>
														<th>Job ID</th>
                                                        <th>Application Date</th>
														<th>Status</th>
													</tr>
												</thead>
												<tbody>
                                                {% for job_applicant in job_applicants %}
													<tr>
														<td><img class="img-thumbnail" width="100px" src="{{job_applicant.worker_id.worker_avatar.url}}"/></td>
														<td>+254 {{job_applicant.worker_phone_no}}</td>
														<td>{{job_applicant.job_id}}</td>
                                                        <td>{{job_applicant.date_created|humanizeTimeDiff}}</td>
														<td>{{job_applicant.applicant_status}}</td>
													</tr>

                                                {% endfor %}
												</tbody>
											</table>
										</div>

                            </div>
                        </div>
                    </div>
                </div>

                <ul class="list-group list-group-flush">
                    {% if recommendations %}
                    <li class="list-group-item">
                        <div>
                            <h4 class="card-title">Recommendations</h4>

                            <div class="card card-outline-primary mb-3">
                                <div class="card-block">
                                    <blockquote class="card-blockquote">
                                        <h4 style="margin-top: 30px" class="card-title"><span
                                                style="font-weight: bold">{{ employees.worker_name }}</span>
                                        </h4>
                                        <hr>
                                        <p class="card-text"><span class="profile_text_titles">Relationship:&emsp;&emsp;&emsp;&emsp; </span>
                                            {{employees.skills }}</p>
                                        <p class="card-text"><span class="profile_text_titles">Skills or Position:&emsp;&emsp;&nbsp;</span>
                                            Nairobi, Kenya.</p>
                                        <p class="card-text"><span class="profile_text_titles">Remark:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;</span>
                                            Plumbing and Chief Chef</p>
                                    </blockquote>
                                </div>
                            </div>


                            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="/my_mwajiri_profile/{{ request.session.member_slug }}/" style="background: none"
                               class="border-0 back-link-hover">
                                <img width="32px" style="margin-right: 10px" alt="Edit Profile"
                                     src="{% static 'images/my_profile/022-id-card-2.svg' %}">
                                My Profile
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/edit_mwajiri_profile/{{ request.session.member_slug }}/" style="background: none"
                               class="border-0 back-link-hover">
                                <img width="32px" style="margin-right: 10px" alt="Edit Profile"
                                     src="{% static 'images/my_profile/066-employee-4.svg' %}">
                                Edit Profile
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/my_notifications/{{ request.session.member_slug }}/" class="border-0 back-link-hover" style="background: none;width:100%;background: none">
                                <img width="32px" style="margin-right: 10px"
                                     src="{% static 'images/my_profile/010-chat-1.svg' %}">
                                View Notifications
                                <span class="badge badge-default badge-pill badge-danger float-right">{{ notifications.count }}</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'recommend' %}" style="background: none" class="border-0 back-link-hover">
                                <img width="32px" style="margin-right: 10px"
                                     src="{% static 'images/my_profile/080-people.svg' %}">
                                Make Recommendation
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'post_job' %}" style="background: none" class="border-0 back-link-hover">
                                <img width="32px" style="margin-right: 10px"
                                     src="{% static 'images/my_profile/029-laptop.svg' %}">
                                Post Jobs
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'view_job' %}" style="background: none" class="border-0 back-link-hover">
                                <img width="32px" style="margin-right: 10px"
                                     src="{% static 'images/my_profile/089-jobs.svg' %}">
                                View Jobs
                            </a>
                        </li>
                    </ul>


                </div>
            </div>



        </div>
    </div>
</div>
</div>

{% endblock %}