{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport">
    <title>
        Ajira | Log In
    </title>

    <link href="{% static 'css/font_awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'css/material.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/docs.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/project.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/cdn_ajira_custom.css' %}" rel="stylesheet">


    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/material.js' %}"></script>
    <script src="{% static 'js/project.js' %}"></script>
    <script src="{% static 'js/posts/post_ajiriwa.js' %}"></script>
</head>
<body>

<main>

    <style>
        body {
            /*height: 100vh;*/
            /*background-color: lightgrey;*/
            background-image:url("../../../../ajira_static/images/human-networks1.jpg");
            background-size:cover;
            opacity:0.9;
        }

    </style>

    <div class="main">


        <div class="container">

            <div class="col-md-12" style="padding-top:10%;margin-bottom: 60px">

                <div class="row">
                    <div class="offset-md-2 col-md-8">
                        <center>
                            <div class="btn-group text-center" style="margin-bottom: 60px" data-toggle="buttons">
                                <label id="ajiriwa" class="btn btn-primary active">
                                    <input type="checkbox" checked autocomplete="off"> Become an Ajiriwa
                                </label>
                                <label id="mwajiri" class="btn btn-primary">
                                    <input type="checkbox" onchange="register_mwajiri()" autocomplete="off"> Become an
                                    Employer
                                </label>
                            </div>
                        </center>

                        <script>
                            var ajiriwa_checkbox = document.getElementById("ajiriwa");
                            var mwajiri_checkbox = document.getElementById("mwajiri");

                            function register_mwajiri() {
                                ajiriwa_checkbox.className = "btn btn-primary";
                                mwajiri_checkbox.className = "btn btn-primary active";

                                window.location.href = "/employer_reg/";
                            }


                        </script>
                        <div class="card" style="padding: 20px">
                            <div class="card-header">
                                <h2 style="font-weight: 300; margin-bottom: 40px">Create an Ajiriwa Account</h2>
                            </div>
                            <div class="card-block">

                                <div id="message"></div>
                                <div id="update_message"></div>

                                <form method="post">
                                    {% csrf_token %}
                                    <div id="divEmailAddress" class="form-group">
                                        <label style="font-size: 18px" for="emailAddress">Email address:</label>
                                        <input type="email" class="form-control" id="emailAddress"
                                               aria-describedby="emailHelp" placeholder="Email Address">
                                        <div id="emailAddress_validate_text" class="form-control-feedback"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div id="divInputPassword" class="form-group">
                                                <label style="font-size: 18px" for="inputPassword">Password:</label>
                                                <input type="password" class="form-control" id="inputPassword"
                                                       placeholder="Password">
                                                <small id="passwordHelpInline" class="text-muted">
      Must be at least 8 characters long.
    </small>
                                                <div id="inputPassword_validate_text"
                                                     class="form-control-feedback"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">

                                            <div id="divRetypedPassword" class="form-group">
                                                <label style="font-size: 18px" for="retypedPassword">Re-enter
                                                    Password:</label>
                                                <input type="password" class="form-control" id="retypedPassword"
                                                       placeholder="Re-Type Password">
                                                <div id="retypedPassword_validate_text"
                                                     class="form-control-feedback"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label style="font-size: 18px" for="fullName">Full name:</label>
                                        <input type="text" class="form-control" id="fullName" placeholder="First Name">
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div id="divIdNumber" class="form-group">
                                                <label style="font-size: 18px" for="idNumber">ID Number:</label>
                                                <input type="number" class="form-control" id="idNumber"
                                                       placeholder="ID Number">
                                                <div id="idNumber_validate_text" class="form-control-feedback"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                            <div class="form-group">
                                                <label style="font-size: 18px" for="birthDate">Year of birth:</label>
                                                <input type="date" class="form-control" value="2011-08-19"
                                                       id="birthDate"
                                                       placeholder="2011-08-19">
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                            <div class="form-group">

                                                <label style="font-size: 18px" for="phoneNumber">Phone Number:</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="basic-addon1">+254</span>
                                                    <input type="number" class="form-control" id="phoneNumber"
                                                           placeholder="Phone Number" aria-describedby="basic-addon1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <label style="font-size: 18px" for="selectCounty">County:</label>
                                                <select class="form-control" id="selectCounty">
                                                    <option value="INIT">Select your County</option>
                                                    {% for county in counties %}
                                                    <option value="{{county.id}}">{{county.county_name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label style="font-size: 18px"
                                                       for="selectConstituency">Constituency:</label>
                                                <select class="form-control" id="selectConstituency">
                                                    <option value="INIT">Select your Constituency</option>

                                                    {% for constituency in constituencies %}
                                                    <option value="{{constituency.id}}">
                                                        {{constituency.constituency_name}}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="form-group">
                                        <label style="font-size: 18px" for="selectSkill">Skill:</label>
                                        <select class="form-control" id="selectSkill">
                                            <option value="INIT">Select your Skill</option>
                                            <option>Sewing</option>
                                            <option>Lumberjack</option>
                                            <option>House Cleaning</option>
                                            <option>Nanny</option>
                                            <option>Fumigation</option>
                                            <option>Gardening</option>
                                            <option>Cooking</option>
                                            <option>Chauffeur</option>
                                        </select>
                                    </div>

                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" id="terms_conditions" type="checkbox"
                                                   value="">
                                            I have read and accept the Ajira &nbsp; <a href="#"> Membership
                                            Agreement.</a>

                                        </label>
                                        <div id="terms_conditions_validate_text" class="form-control-feedback"></div>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer">
                                <a href="#" id="submit_btn" onclick="reg_ajiriwa()"
                                   class="btn btn-primary btn-lg btn-block"
                                   style="background-color: #2f5597;">Register</a>

                                <hr>

                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="{% url 'index' %}" class="btn btn-outline-info btn-lg btn-block"
                                           style="margin-top: 20px;border: 1px solid #2196f3;">Log In</a>
                                    </div>
                                    <div class="col-md-6">

                                        <a href="{% url 'home' %}" class="btn btn-outline-success btn-lg btn-block"
                                           style="margin-top: 20px; border: 1px solid #4caf50;">Back Home</a>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>


</main>

</body>
</html>