{% extends 'base.html' %}

{% load static %}
<script src="{% static 'js/posts/post_ajiriwa.js' %}"></script>

{% block title %}
    Ajiriwa Registration

{% endblock %}


{% block content %}

    <script src="{% static 'js/posts/post_ajiriwa.js' %}"></script>

    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h1 class="display-3" style="text-align: center; font-weight: 300; margin-top: 40px">Register to be an Ajiriwa</h1>

            <h1 class="lead" style="text-align: center; font-weight: 300; margin-top: 40px">
                Already registered as an Ajiriwa? <a href="{% url 'index' %}">Sign in</a>
            </h1>
            <h1 class="lead" style="text-align: center; font-weight: 300; margin-top: 20px">
                Looking to be an Ajira Client? <a href="{% url 'employer_reg' %}">Register as a Client</a>
            </h1>

        </div>
    </div>

    <div class="container">

        <div class="col-md-12" style="margin-bottom: 60px">
            <div class="row">
                <div class="offset-md-1 col-md-10">
                    <div class="card" style="padding: 20px">
                        <div class="card-header">
                            <h2 style="font-weight: 300; margin-bottom: 40px">Create an Ajiriwa Account</h2>
                        </div>
                        <div class="card-block">

                            <div id="message"></div>
                            <div id="update_message"></div>

                            <form method="post">
                                {% csrf_token %}
                                <div id="divEmailAddress" class="form-group">
                                    <label style="font-size: 18px" for="emailAddress">Email address:</label>
                                    <input type="email" class="form-control" id="emailAddress" aria-describedby="emailHelp" placeholder="Email Address">
                                    <div id="emailAddress_validate_text" class="form-control-feedback"></div>
                                </div>
                                <div class="form-group">
                                    <label style="font-size: 18px" for="fullName">Full name:</label>
                                    <input type="text" class="form-control" id="fullName" placeholder="First Name">
                                </div>
                                <div id="divIdNumber" class="form-group">
                                    <label style="font-size: 18px" for="idNumber">ID Number:</label>
                                    <input type="number" class="form-control" id="idNumber" placeholder="ID Number">
                                    <div id="idNumber_validate_text" class="form-control-feedback"></div>
                                </div>
                                <div class="form-group">
                                    <label style="font-size: 18px" for="birthDate">Year of birth:</label>
                                    <input type="date" class="form-control" id="birthDate" placeholder="Year of Birth">
                                </div>
                                <div id="divInputPassword" class="form-group">
                                    <label style="font-size: 18px" for="inputPassword">Password:</label>
                                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                    <div id="inputPassword_validate_text" class="form-control-feedback"></div>
                                </div>
                                <div id="divRetypedPassword" class="form-group">
                                    <label style="font-size: 18px" for="retypedPassword">Re-enter Password:</label>
                                    <input type="password" class="form-control" id="retypedPassword" placeholder="Re-Type Password">
                                    <div id="retypedPassword_validate_text" class="form-control-feedback"></div>
                                </div>
                                <div class="form-group">
                                    <label style="font-size: 18px" for="selectConstituency">Constituency:</label>
                                    <select class="form-control" id="selectConstituency">
                                        <option value="INIT" >Select your Constituency</option>

                                        {% for constituency in constituencies %}
                                            <option value="{{constituency.id}}">{{constituency.constituency_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label style="font-size: 18px" for="selectCounty">County:</label>
                                    <select class="form-control" id="selectCounty">
                                        <option value="INIT">Select your County</option>
                                        {% for county in counties %}
                                            <option value="{{county.id}}">{{county.county_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label style="font-size: 18px" for="selectSkill">Skill:</label>
                                    <select class="form-control" id="selectSkill">
                                        <option value="INIT">Select your Skill</option>
                                        <option>Sewing</option>
                                        <option>Lumberjack</option>
                                        <option>House Cleaning</option>
                                        <option>Nanny</option>
                                        <option>Fumigation</option>
                                        <option>Gardening</option>
                                        <option>Cooking</option>
                                        <option>Chauffeur</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label style="font-size: 18px" for="phoneNumber">Phone Number:</label>
                                    <input type="number" class="form-control" id="phoneNumber" placeholder="Phone Number">
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" id="terms_conditions" type="checkbox" value="">
                                        I have read and accept the Ajira &nbsp; <a href="#"> Membership Agreement.</a>
                                    </label>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                                <a href="#" onclick="reg_ajiriwa()" class="btn btn-primary btn-lg btn-block" style="background-color: #2f5597;">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}