/*====================================================================================================================*/
/*                                                  HOME PAGE                                                         */
/*====================================================================================================================*/
/*Roboto-Light.ttf*/

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
    /*font-weight: normal;*/
    /*font-style: normal;*/
}

html,body
{
    font-family: 'Roboto-Light';
}

@media screen and (min-width: 1360px) {
    .container {
        width: auto;

    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 1360px;

    }
}

/*******************************/
/* Navbar */
/*******************************/
.jumbotron
{
    background-image:url("../images/bg_banner.jpg");
    background-color: #ffffff;
    color:white;
    margin-bottom: 60px;
    background-repeat: no-repeat;
    background-size: cover;

}

.ajira-logo
{
    margin-top: 5px;
    margin-right: -15px
}

.navbar {
    background-color: #ffffff!important;
    border-bottom: 1px solid #d7d7d7;

}

@media(min-width: 1279px) {
    .navbar {
        padding-left: 160px;

    }
}

/*******************************/
/* Objectives section */
/*******************************/

.ajira-objectives
{
    margin-top: 20px;
    padding: 20px;
}

.ajira-objectives p
{
    font-size: 1.125em;
    line-height: 1.66667;
}

.ajira-objectives-text
{
    padding-top: 80px;
}

.ajira-objectives h2 {
    /*font-size: 2.625em;*/
    font-weight: 300;
    letter-spacing: -.0119em;
    line-height: 1.19048;
    margin-bottom: 10px;
}


@media screen and (min-width: 1024px) {
    .ajira-objectives h2 {
        /*font-size: 3.5em;*/
        letter-spacing: -.01786em;
        line-height: 1.14;

    }
}

@media screen and (min-width: 600px) {
    .ajira-objectives h2 {
        /*font-size: 2.25em;*/
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 1024px) {
    .ajira-objectives h2 {
        /*font-size: 3.5em;*/
        letter-spacing: -.01786em;
        line-height: 1.14;
    }
}

@media screen and (min-width: 1024px) {
    .img-left {
        /*margin-right: 64px;*/
    }
}
@media screen and (min-width: 600px) {
    .img-left {
        max-width: 640px;
    }
}

@media screen and (min-width: 1024px) {
    .img-right {
        /*margin-left: 64px;*/
        margin-right: 0;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
}
@media screen and (min-width: 600px) {
    .img-right {
        max-width: 640px;
    }
}

/*******************************/
/* Footer section */
/*******************************/

footer
{
    background: #f6f6f6;
    width: 100%;
}

.footer_sitemap
{
    border: 1px solid #d7d7d7;
    border-width: 1px 0;
    padding: 50px 0 50px 58px;
}

@media (min-width: 1024px) {
    .footer_sitemap {
        padding-left: 125px;
    }
}

@media (min-width: 600px) {
    .footer_sitemap .footer_column {
        -ms-flex: 0 0 20%;
        -webkit-box-flex: 0;
        flex: 0 0 20%;
        border-bottom: none;
        float: left;
        max-width: 20%;
        padding: 0;
        width: 20%;
    }
}


.footer_sitemap .footer_column {
    /*border-bottom: 1px solid #c7c7c7;*/
    margin: 0;
    padding: 40px 0;
    margin-left: -30px;
}

.footer_sitemap ul
{
    margin-left: 0;
    list-style: none;
    padding-left: 0;
    padding-top: 5px;
    margin-bottom: 0;
}

.footer_sitemap h4
{
    margin-bottom: 25px;
    font-weight:400;
}


@media (min-width: 600px) {

    .footer_sitemap ul li {
        padding-bottom: 15px;
    }
}

.footer_sitemap ul li {
    margin: 0 40px 0 0;
    padding-bottom: 10px;
}

.footer_sitemap ul li a{
    font-size: 14px;
    line-height: 1.7;
    color: #414141;

    font-weight: 400;
}

.footer_general
{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: block;

    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    min-height: 100px;
    padding: 25px 0 10px 0;
}

.footer_general ul li a{
    color:#414141;
}


/* Profile Page */

.profile_text_titles {
    font-weight: 500;
    font-size: 18px;
}


.badge-default badge-pill
{
    background: #ef0606;
    color: white;
    font-weight: bold;
}

.list-group-item.active {
    background-color: #e5e5e5;
    font-weight: bold;
}