{% extends 'base.html' %}

{% load static %}

{% block title %}
    View Jobs
{% endblock %}


{% block content %}


    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h1 class="display-3" style="text-align: center; font-weight: 300; margin-top: 40px">View Jobs</h1>

        </div>
    </div>

    <style>
        .img-thumbnail
        {
            width:180px;
        }
    </style>

    <div class="container">

        <div class="col-md-12" style="margin-bottom: 60px">
            <div class="row" style="margin-bottom: 20px">
                <div class="col-md-9">
                    <div class="row" style="margin-bottom: 20px">
                        <div class="col-md-12">
                            <div class="card">
                              <div class="card-block">
                                  <img class="img-thumbnail" style="margin-bottom: 20px" src="/ajira_static/images/error/jobs_bright_blue.png"/>
                                    <h3 class="card-title">{{ job.job_title}}</h3>
                                    <p class="card-text">{{job.constituency_id}}, {{job.county_id}}</p>
                                    <p class="card-text">{{job.job_description}}</p>
                                    <hr/>
                                  <p class="card-text">Today</p>
                              </div>
                            </div>
                        </div>
                        <!--<div class="col-md-4">
                            <div class="card">
                              <div class="card-block">
                                  <img class="img-thumbnail" style="margin-bottom: 20px" src="/ajira_static/images/error/jobs_bright_blue.png"/>
                                    <h3 class="card-title">Gardener</h3>
                                    <p class="card-text">Nairobi, Kenya</p>
                                    <hr/>
                                  <p class="card-text">1 day ago</p>
                              </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                              <div class="card-block">
                                  <img class="img-thumbnail" style="margin-bottom: 20px" src="/ajira_static/images/error/jobs_bright_blue.png"/>
                                    <h3 class="card-title">House Help</h3>
                                    <p class="card-text">Nairobi, Kenya</p>
                                    <hr/>
                                  <p class="card-text">1 week ago</p>
                              </div>
                            </div>
                        </div>-->
                    </div>
                    <!--<div class="row" style="margin-bottom: 20px">
                        <div class="col-md-4">
                            <div class="card">
                              <div class="card-block">
                                  <img class="img-thumbnail" style="margin-bottom: 20px" src="/ajira_static/images/error/jobs_bright_blue.png"/>
                                    <h3 class="card-title">House Fumigators</h3>
                                    <p class="card-text">Nairobi, Kenya</p>
                                    <hr/>
                                  <p class="card-text">Today</p>
                              </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                              <div class="card-block">
                                  <img class="img-thumbnail" style="margin-bottom: 20px" src="/ajira_static/images/error/jobs_bright_blue.png"/>
                                    <h3 class="card-title">Gardener</h3>
                                    <p class="card-text">Nairobi, Kenya</p>
                                    <hr/>
                                  <p class="card-text">1 day ago</p>
                              </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                              <div class="card-block">
                                  <img class="img-thumbnail" style="margin-bottom: 20px" src="/ajira_static/images/error/jobs_bright_blue.png"/>
                                    <h3 class="card-title">House Help</h3>
                                    <p class="card-text">Nairobi, Kenya</p>
                                    <hr/>
                                  <p class="card-text">1 week ago</p>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 20px">
                        <div class="col-md-4">
                            <div class="card">
                              <div class="card-block">
                                  <img class="img-thumbnail" style="margin-bottom: 20px" src="/ajira_static/images/error/jobs_bright_blue.png"/>
                                    <h3 class="card-title">House Fumigators</h3>
                                    <p class="card-text">Nairobi, Kenya</p>
                                    <hr/>
                                  <p class="card-text">Today</p>
                              </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                              <div class="card-block">
                                  <img class="img-thumbnail" style="margin-bottom: 20px" src="/ajira_static/images/error/jobs_bright_blue.png"/>
                                    <h3 class="card-title">Gardener</h3>
                                    <p class="card-text">Nairobi, Kenya</p>
                                    <hr/>
                                  <p class="card-text">1 day ago</p>
                              </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                              <div class="card-block">
                                  <img class="img-thumbnail" style="margin-bottom: 20px" src="/ajira_static/images/error/jobs_bright_blue.png"/>
                                    <h3 class="card-title">House Help</h3>
                                    <p class="card-text">Nairobi, Kenya</p>
                                    <hr/>
                                  <p class="card-text">1 week ago</p>
                              </div>
                            </div>
                        </div>
                    </div>-->
                </div>
                <div class="col-md-3">
                <div class="card">
                    {% if request.session.member_usertype == "ajiriwa" %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="/my_profile/{{ request.session.member_slug }}/" style="background: none"
                               class="border-0 back-link-hover">
                                <img width="32px" style="margin-right: 10px" alt="Edit Profile"
                                     src="{% static 'images/my_profile/022-id-card-2.svg' %}">
                                My Profile
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/edit_profile/{{ request.session.member_slug }}/" style="background: none"
                               class="border-0 back-link-hover">
                                <img width="32px" style="margin-right: 10px" alt="Edit Profile"
                                     src="{% static 'images/my_profile/066-employee-4.svg' %}">
                                Edit Profile
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/my_notifications/{{ request.session.member_slug }}/" style="width:100%;background: none"
                               class="border-0 back-link-hover">
                                <img width="32px" style="margin-right: 10px"
                                     src="{% static 'images/my_profile/010-chat-1.svg' %}">
                                View Notifications
                                <span class="badge badge-default badge-pill float-right">2</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'view_job' %}" style="background: none" class="border-0 back-link-hover">
                                <img width="32px" style="margin-right: 10px"
                                     src="{% static 'images/my_profile/089-jobs.svg' %}">
                                View Jobs
                            </a>
                        </li>
                    </ul>
                    {% elif request.session.member_usertype == "mwajiri"%}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="/my_mwajiri_profile/{{ request.session.member_slug }}/" style="background: none"
                               class="border-0 back-link-hover">
                                <img width="32px" style="margin-right: 10px" alt="Edit Profile"
                                     src="{% static 'images/my_profile/022-id-card-2.svg' %}">
                                My Profile
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/edit_mwajiri_profile/{{ request.session.member_slug }}/" style="background: none"
                               class="border-0 back-link-hover">
                                <img width="32px" style="margin-right: 10px" alt="Edit Profile"
                                     src="{% static 'images/my_profile/066-employee-4.svg' %}">
                                Edit Profile
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/my_notifications/{{ request.session.member_slug }}/" class="border-0 back-link-hover" style="background: none;width:100%;background: none">
                                <img width="32px" style="margin-right: 10px"
                                     src="{% static 'images/my_profile/010-chat-1.svg' %}">
                                View Notifications
                                <span class="badge badge-default badge-pill float-right">2</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'recommend' %}" style="background: none" class="border-0 back-link-hover">
                                <img width="32px" style="margin-right: 10px"
                                     src="{% static 'images/my_profile/080-people.svg' %}">
                                Make Recommendation
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'post_job' %}" style="background: none" class="border-0 back-link-hover">
                                <img width="32px" style="margin-right: 10px"
                                     src="{% static 'images/my_profile/029-laptop.svg' %}">
                                Post Jobs
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'view_job' %}" style="background: none" class="border-0 back-link-hover">
                                <img width="32px" style="margin-right: 10px"
                                     src="{% static 'images/my_profile/089-jobs.svg' %}">
                                View Jobs
                            </a>
                        </li>
                    </ul>
                    {% endif %}


                </div>
            </div>

            </div>


            <div class="row" style="margin-bottom: 60px; margin-top: 60px">
                <div class="offset-lg-4 col-lg-4 text-center">
                    <a href="#" style="color: #2f5597;text-transform: uppercase; font-weight: 500; font-size: 21px">Browse More Jobs</a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}