{% extends 'base.html' %}

{% load static %}

{% block title %}
    Post a job
{% endblock %}


{% block content %}
    <script src="{% static 'js/posts/post_job.js' %}"></script>

    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h1 class="display-3" style="text-align: center; font-weight: 300; margin-top: 40px">Post a Job</h1>

        </div>
    </div>

    <div class="container">

        <div class="col-md-12" style="margin-bottom: 60px">
            <div class="row">
                <div class="offset-md-1 col-md-8">
                    <div class="card" style="padding: 20px">
                        <div class="card-header">
                            <h2 style="font-weight: 300; margin-bottom: 40px">Post a Job</h2>
                        </div>
                        <div class="card-block">

                            <div id="message"></div>
                            <div id="update_message"></div>

                            <form method="post">
                                {% csrf_token %}
                                <div id="divJobTitle" class="form-group">
                                    <label style="font-size: 18px" for="jobTitle">Job Title:</label>
                                    <input type="text" class="form-control" id="jobTitle" placeholder="Job Title">
                                    <div id="jobTitle_validate_text" class="form-control-feedback"></div>
                                </div>

                                <!--<div id="divEmployerID" class="form-group">-->
                                    <!--<label style="font-size: 18px" for="employerID">Employer ID:</label>-->
                                    <!--<input type="number" class="form-control" id="employerID" placeholder="Employer ID">-->
                                <!--</div>-->
                                <div class="form-group">
                                    <label style="font-size: 18px" for="selectConstituency">Constituency:</label>
                                    <select class="form-control" id="selectConstituency">
                                        <option value="INIT" >Select your Constituency</option>

                                        {% for constituency in constituencies %}
                                            <option value="{{constituency.id}}">{{constituency.constituency_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label style="font-size: 18px" for="selectCounty">County:</label>
                                    <select class="form-control" id="selectCounty">
                                        <option value="INIT">Select your County</option>
                                        {% for county in counties %}
                                            <option value="{{county.id}}">{{county.county_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label style="font-size: 18px" for="jobDescription">Job Description:</label>
                                    <textarea class="form-control" id="jobDescription" placeholder="Job Description"></textarea>
                                </div>
                                <div class="form-group">

                                    <label style="font-size: 18px" for="phoneNumber">Phone Number:</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1">+254</span>
                                        <input type="number" class="form-control" id="phoneNumber" placeholder="Phone Number" aria-describedby="basic-addon1">
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="card-footer">
                                <a href="#" id="submit_btn" onclick="post_job_details()" class="btn btn-primary btn-lg btn-block" style="background-color: #2f5597;">Post Job</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="/my_mwajiri_profile/{{ request.session.member_slug }}/" style="background: none"
                               class="border-0 back-link-hover">
                                <img width="32px" style="margin-right: 10px" alt="Edit Profile"
                                     src="{% static 'images/workers/useraccount.svg' %}">
                                My Profile
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/edit_mwajiri_profile/{{ request.session.member_slug }}/" style="background: none"
                               class="border-0 back-link-hover">
                                <img width="32px" style="margin-right: 10px" alt="Edit Profile"
                                     src="{% static 'images/workers/mode_edit.svg' %}">
                                Edit Profile
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/my_notifications/{{ request.session.member_slug }}/" style="background: none" class="border-0 back-link-hover">
                                <img width="32px" style="margin-right: 10px"
                                     src="{% static 'images/workers/message.svg' %}">
                                View Notifications
                                <span  style="margin-left: 120px" class="badge badge-default badge-pill">2</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'recommend' %}" style="background: none" class="border-0 back-link-hover">
                                <img width="32px" style="margin-right: 10px"
                                     src="{% static 'images/workers/contact.svg' %}">
                                Make Recommendation
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'post_job' %}" style="background: none" class="border-0 back-link-hover">
                                <img width="32px" style="margin-right: 10px"
                                     src="{% static 'images/workers/contact.svg' %}">
                                Post Jobs
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'view_job' %}" style="background: none" class="border-0 back-link-hover">
                                <img width="32px" style="margin-right: 10px"
                                     src="{% static 'images/workers/contact.svg' %}">
                                View Jobs
                            </a>
                        </li>
                    </ul>


                </div>
            </div>
            </div>
        </div>

    </div>

{% endblock %}