{% extends 'base.html' %}

{% load static %}

{% block title %}
    View Jobs
{% endblock %}


{% block content %}


    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h1 class="display-3" style="text-align: center; font-weight: 300; margin-top: 40px">View Jobs</h1>

        </div>
    </div>

    <div class="container">

        <div class="col-md-12" style="margin-bottom: 60px">
            <div class="row" style="margin-bottom: 20px">
                <div class="col-md-3">
                    <div class="card">
                      <div class="card-block">
                          <img class="img-thumbnail" style="margin-bottom: 20px" src="/ajira_static/images/home_icons/placeholder.png"/>
                            <h3 class="card-title">House Fumigators</h3>
                            <p class="card-text">Nairobi, Kenya</p>
                            <hr/>
                          <p class="card-text">Today</p>
                      </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                      <div class="card-block">
                          <img class="img-thumbnail" style="margin-bottom: 20px" src="/ajira_static/images/home_icons/placeholder.png"/>
                            <h3 class="card-title">Gardener</h3>
                            <p class="card-text">Nairobi, Kenya</p>
                            <hr/>
                          <p class="card-text">1 day ago</p>
                      </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                      <div class="card-block">
                          <img class="img-thumbnail" style="margin-bottom: 20px" src="/ajira_static/images/home_icons/placeholder.png"/>
                            <h3 class="card-title">House Help</h3>
                            <p class="card-text">Nairobi, Kenya</p>
                            <hr/>
                          <p class="card-text">1 week ago</p>
                      </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                      <div class="card-block">
                          <img class="img-thumbnail" style="margin-bottom: 20px" src="/ajira_static/images/home_icons/placeholder.png"/>
                            <h3 class="card-title">Chauffeur</h3>
                            <p class="card-text">Nairobi, Kenya</p>
                            <hr/>
                          <p class="card-text">1 day ago</p>
                      </div>
                    </div>
                </div>

            </div>
            <div class="row" style="margin-bottom: 20px">
                <div class="col-md-3">
                    <div class="card">
                      <div class="card-block">
                          <img class="img-thumbnail" style="margin-bottom: 20px" src="/ajira_static/images/home_icons/placeholder.png"/>
                            <h3 class="card-title">Electrician</h3>
                            <p class="card-text">Nairobi, Kenya</p>
                            <hr/>
                          <p class="card-text">1 week ago</p>
                      </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                      <div class="card-block">
                          <img class="img-thumbnail" style="margin-bottom: 20px" src="/ajira_static/images/home_icons/placeholder.png"/>
                            <h3 class="card-title">Nanny</h3>
                            <p class="card-text">Nairobi, Kenya</p>
                            <hr/>
                          <p class="card-text">3 week ago</p>
                      </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                      <div class="card-block">
                          <img class="img-thumbnail" style="margin-bottom: 20px" src="/ajira_static/images/home_icons/placeholder.png"/>
                            <h3 class="card-title">House Fumigators</h3>
                            <p class="card-text">Nairobi, Kenya</p>
                            <hr/>
                          <p class="card-text">1 day ago</p>
                      </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                      <div class="card-block">
                          <img class="img-thumbnail" style="margin-bottom: 20px" src="/ajira_static/images/home_icons/placeholder.png"/>
                            <h3 class="card-title">Mechanic</h3>
                            <p class="card-text">Nairobi, Kenya</p>
                            <hr/>
                          <p class="card-text">1 week ago</p>
                      </div>
                    </div>
                </div>

            </div>

            <div class="row" style="margin-bottom: 20px">
                <div class="col-md-3">
                    <div class="card">
                      <div class="card-block">
                          <img class="img-thumbnail" style="margin-bottom: 20px" src="/ajira_static/images/home_icons/placeholder.png"/>
                            <h3 class="card-title">Plumber</h3>
                            <p class="card-text">Nairobi, Kenya</p>
                            <hr/>
                          <p class="card-text">1 week ago</p>
                      </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                      <div class="card-block">
                          <img class="img-thumbnail" style="margin-bottom: 20px" src="/ajira_static/images/home_icons/placeholder.png"/>
                            <h3 class="card-title">House Help</h3>
                            <p class="card-text">Nairobi, Kenya</p>
                            <hr/>
                          <p class="card-text">2 week ago</p>
                      </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                      <div class="card-block">
                          <img class="img-thumbnail" style="margin-bottom: 20px" src="/ajira_static/images/home_icons/placeholder.png"/>
                            <h3 class="card-title">Home Foreman</h3>
                            <p class="card-text">Nairobi, Kenya</p>
                            <hr/>
                          <p class="card-text">1 week ago</p>
                      </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                      <div class="card-block">
                          <img class="img-thumbnail" style="margin-bottom: 20px" src="/ajira_static/images/home_icons/placeholder.png"/>
                            <h3 class="card-title">House Help</h3>
                            <p class="card-text">Nairobi, Kenya</p>
                            <hr/>
                          <p class="card-text">3 week ago</p>
                      </div>
                    </div>
                </div>

            </div>


            <div class="row" style="margin-bottom: 60px; margin-top: 60px">
                <div class="offset-lg-4 col-lg-4 text-center">
                    <a href="#" style="color: #2f5597;text-transform: uppercase; font-weight: 500; font-size: 21px">Browse More Jobs</a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}