{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport">
    <title>
        Ajira | Log In
    </title>

    <link href="{% static 'css/font_awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'css/material.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/docs.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/project.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/cdn_ajira_custom.css' %}" rel="stylesheet">


    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/material.js' %}"></script>
    <script src="{% static 'js/project.js' %}"></script>
    <script src="{% static 'js/posts/post_login.js' %}"></script>
</head>
<body>

<main>

    <style>
        body{
            /*height: 100vh;*/
            /*background-color: lightgrey;*/
            background-image:url("../../../ajira_static/images/human-networks1.jpg");
            background-size:cover;
            opacity:0.9;
        }

    </style>

    <div class="main">


            <div class="container">

        <div class="col-md-12" style="padding-top:20%;margin-bottom: 60px">
            <div class="row">
                <div class="offset-md-3 col-md-6">
                    <div class="card" style="padding: 20px">
                        <div class="card-header">
                            <h2 style="font-weight: 300; margin-bottom: 40px">Log In</h2>
                        </div>
                        <div class="card-block">

                            <div id="message"></div>
                            <div id="update_message"></div>
                            <!--loader-->
                            <!--<div class="progress">-->
  <!--<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--</div>-->



                            <form method="post">
                                {% csrf_token %}

                                <div id="divEmailAddress" class="form-group">
                                    <label style="font-size: 18px" for="emailAddress">Email address:</label>
                                    <input type="email" class="form-control" id="emailAddress" aria-describedby="emailHelp" placeholder="Email Address">
                                    <div id="emailAddress_validate_text" class="form-control-feedback"></div>
                                </div>
                                <div id="divInputPassword" class="form-group">
                                    <label style="font-size: 18px" for="inputPassword">Password:</label>
                                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                    <div id="inputPassword_validate_text" class="form-control-feedback"></div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary btn-lg btn-block" onclick="fetch_post_login_data()" style="background-color: #2f5597;">Log In</a>

                            <hr>

                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="{% url 'ajiriwa_reg' %}" class="btn btn-outline-info btn-lg btn-block"
                                           style="margin-top: 20px;border: 1px solid #2196f3;">Sign Up</a>
                                    </div>
                                    <div class="col-md-6">

                                        <a href="{% url 'home' %}" class="btn btn-outline-success btn-lg btn-block"
                                           style="margin-top: 20px; border: 1px solid #4caf50;">Back Home</a>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    </div>


</main>

</body>
</html>