{% extends 'base.html' %}

{% load static %}

{% block title %}
    Log In
{% endblock %}


{% block content %}
    <script src="{% static 'js/posts/post_login.js' %}"></script>

    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h1 class="display-3" style="text-align: center; font-weight: 300; margin-top: 40px">Log in to your Member Account</h1>



            <h1 class="lead" style="text-align: center; font-weight: 300; margin-top: 40px">
                Not yet registered as an Ajiriwa? <a href="domestic_workers/employee_registration.html">Register as a Ajiriwa</a>
            </h1>
            <h1 class="lead" style="text-align: center; font-weight: 300; margin-top: 20px">
                Looking to be an Ajira Client? <a href="employers/client_registration.html">Register as a Client</a>
            </h1>

        </div>
    </div>

    <div class="container">

        <div class="col-md-12" style="margin-bottom: 60px">
            <div class="row">
                <div class="offset-md-1 col-md-10">
                    <div class="card" style="padding: 20px">
                        <div class="card-header">
                            <h2 style="font-weight: 300; margin-bottom: 40px">Log In</h2>
                        </div>
                        <div class="card-block">

                            <div id="message"></div>
                            <div id="update_message"></div>
                            <!--loader-->
                            <!--<div class="progress">-->
  <!--<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--</div>-->



                            <form method="post">
                                {% csrf_token %}

                                <div id="divEmailAddress" class="form-group">
                                    <label style="font-size: 18px" for="emailAddress">Email address:</label>
                                    <input type="email" class="form-control" id="emailAddress" aria-describedby="emailHelp" placeholder="Email Address">
                                    <div id="emailAddress_validate_text" class="form-control-feedback"></div>
                                </div>
                                <div id="divInputPassword" class="form-group">
                                    <label style="font-size: 18px" for="inputPassword">Password:</label>
                                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                    <div id="inputPassword_validate_text" class="form-control-feedback"></div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary btn-lg btn-block" onclick="fetch_post_login_data()" style="background-color: #2f5597;">Log In</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}