{% extends 'base.html' %}

{% load static %}

{% block title %}
My Profile
{% endblock %}


{% block content %}
<link href="{% static 'css/cdn_ajira_timeline.css' %}" rel="stylesheet">

<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-3" style="text-align: center; font-weight: 300; margin-top: 40px">My Profile</h1>
    </div>
</div>

<div class="container" style="margin-bottom: 60px">

    <div class="col-xl-12 col-lg-12">


        <div class="row">
            <div class="col-xl-9 col-lg-9">
                <div class="row">

                    <div class="col-xl-12">
                        <div class="card" style="margin-bottom: 60px">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-md-4" style="margin-right: 40px">
                                        <img class="img-thumbnail" width="500px"
                                             src="{{ employees.worker_avatar.url }}">
                                    </div>
                                    <div class="col-md-5">
                                        <h4 style="margin-top: 30px" class="card-title">I'm <span
                                                style="font-weight: bold">{{ employees.worker_name }}</span>
                                        </h4>
                                        <hr>
                                        <p class="card-text"><span class="profile_text_titles"><img width="32px" style="margin-right: 10px"
                                     src="{% static 'images/my_profile/072-skills-1.svg' %}" alt="Skills"></span>
                                            {{employees.skills }}</p>
                                        <p class="card-text"><span
                                                class="profile_text_titles"><img width="32px" style="margin-right: 10px"
                                     src="{% static 'images/my_profile/placeholder.svg' %}" alt="Location"></span>
                                            {{employees.constituency_id }}, {{employees.county_id }}
                                        </p>
                                        <p class="card-text"><span class="profile_text_titles"><img width="32px" style="margin-right: 10px"
                                     src="{% static 'images/my_profile/money.svg' %}" alt="Expected salary"></span>
                                            Ksh. {{employees.expected_salary }}</p>
                                        <p class="card-text"><span class="profile_text_titles"><img width="32px" style="margin-right: 10px"
                                     src="{% static 'images/my_profile/map-location.svg' %}" alt="Preferred location"></span>
                                            {{employees.preferred_locations }}</p>

                                        <!--<p class="card-text"><span
                                                class="profile_text_titles">Constituency:&emsp;&emsp;&emsp;</span>
                                            {{employees.constituency_id }}
                                        </p>
                                        <a href="#" class="btn btn-primary"
                                           style="margin-top: 20px; background: #4a58a5">Contact
                                            Ajiriwa</a>-->
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>


                </div>
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div>
                                <h4 class="card-title">About</h4>
                                <p class="card-text">{{ employees.worker_bio }}</p>


                                <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                            </div>
                        </li>
                        {% if experiences %}
                        <li class="list-group-item">
                            <h4 class="card-title">Work Experience</h4>


                            <div class="card-block" style="padding: 20px">
                                <ul class="timeline">

                                    {% for experience in experiences %}
                                    <li class="{% cycle '' 'timeline-inverted' %}">
                                        <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">{{experience.job_title}}</h4>
                                                <p>
                                                    <small class="text-muted"><i class="glyphicon glyphicon-time"></i>
                                                        {{experience.from_date}} - {{experience.to_date}}
                                                    </small>
                                                </p>
                                            </div>
                                            <div class="timeline-body">
                                                <p> {{experience.job_description}}</p>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}


                                </ul>
                            </div>
                        </li>
                        {% endif %}

                        {% if recommendations %}
                        <li class="list-group-item">
                            <div class="col-xl-12">
                                <h4 class="card-title">Recommendations</h4>

                                <ul class="list-unstyled">
                                {% for recommendation in recommendations %}
                                    <hr>


                                    <li class="media">
                                        <img class="d-flex mr-3" width="100px" src="{{ recommendation.employer_id.employer_avatar.url }}" alt="Generic placeholder image">
                                        <div class="media-body" style="margin-left:15px">
                                            <h4 class="mt-0 mb-1">{{ recommendation.employer_id }}</h4>
                                            <h6 class="mt-0 mb-1">Relationship:&emsp;&emsp;&emsp; {{ recommendation.relationship }}</h6>
                                            <h6 class="mt-0 mb-1">Skills or Position:&emsp;&emsp;&nbsp;{{recommendation.position_or_skills_at_that_time }}</h6>
                                            <i>"{{recommendation.remark }}"</i>
                                        </div>
                                    </li>

                                {% endfor %}

                                </ul>

                                <!--<div class="card" style="margin-bottom: 60px">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-xl-4" style="margin-right: 40px">
                                                <img class="img-thumbnail" width="300px"
                                                     src="/ajira_media/{{ recommender_avatar}}">
                                            </div>
                                            <div class="col-xl-7">
                                                <h4 style="margin-top: 30px" class="card-title"><span
                                                        style="font-weight: bold">{{ recommendation.employer_id }}</span>
                                                </h4>
                                                <hr>
                                                <p class="card-text"><span class="profile_text_titles">Relationship:&emsp;&emsp;&emsp;&emsp; </span>
                                                    {{recommendation.relationship }}</p>
                                                <p class="card-text"><span class="profile_text_titles">Skills or Position:&emsp;&emsp;&nbsp;</span>
                                                    {{recommendation.position_or_skills_at_that_time }}</p>
                                                <blockquote>
                                                    <p style="font-size: 15px; font-style: italic" class="card-text">
                                                        <span class="profile_text_titles"></span>
                                                        "{{recommendation.remark }}"</p>
                                                </blockquote>
                                            </div>
                                        </div>


                                    </div>
                                </div>-->





                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="/my_profile/{{ request.session.member_slug }}/" style="background: none"
                               class="border-0 back-link-hover">
                                <img width="32px" style="margin-right: 10px" alt="Edit Profile"
                                     src="{% static 'images/my_profile/022-id-card-2.svg' %}">
                                My Profile
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/edit_profile/{{ request.session.member_slug }}/" style="background: none"
                               class="border-0 back-link-hover">
                                <img width="32px" style="margin-right: 10px" alt="Edit Profile"
                                     src="{% static 'images/my_profile/066-employee-4.svg' %}">
                                Edit Profile
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/my_notifications/{{ request.session.member_slug }}/" style="width:100%;background: none"
                               class="border-0 back-link-hover">
                                <img width="32px" style="margin-right: 10px"
                                     src="{% static 'images/my_profile/010-chat-1.svg' %}">
                                View Notifications
                                <span class="badge badge-default badge-pill badge-danger float-right">{{ notifications.count }}</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'view_job' %}" style="background: none" class="border-0 back-link-hover">
                                <img width="32px" style="margin-right: 10px"
                                     src="{% static 'images/my_profile/089-jobs.svg' %}">
                                View Jobs
                            </a>
                        </li>
                    </ul>


                </div>
            </div>



        </div>
    </div>
</div>

{% endblock %}