{% extends 'base.html' %}

{% load static %}

{% block title %}
    My Profile
{% endblock %}


{% block content %}
    <link href="{% static 'css/cdn_ajira_timeline.css' %}" rel="stylesheet">

    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h1 class="display-3" style="text-align: center; font-weight: 300; margin-top: 40px">My Profile</h1>
        </div>
    </div>

        <div class="container">

            <div class="col-md-12">




                <div class="row">
                    <div class="offset-md-1 col-md-10">

                        <div class="card" style="margin-bottom: 60px">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img class="img-thumbnail" width="300px" src="{{ employees.worker_avatar.url }}">
                                    </div>
                                    <div class="col-md-5" >
                                        <h4 style="margin-top: 30px" class="card-title">I'm <span style="font-weight: bold">{{ employees.worker_name }}</span></h4>
                                        <hr>
                                        <p class="card-text"><span class="profile_text_titles">Skills:&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;</span> {{employees.skills }}</p>
                                        <p class="card-text"><span class="profile_text_titles">Location:&emsp;&emsp;&emsp;</span> Nairobi, Kenya.</p>
                                        <p class="card-text"><span class="profile_text_titles">Services:&emsp;&emsp;&emsp;&nbsp;</span> Plumbing and Chief Chef</p>
                                        <a href="#" class="btn btn-primary" style="margin-top: 20px; background: #4a58a5">Contact Ajiriwa</a>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="card" style="margin-bottom: 60px">
                            <div class="card-block">
                                <h4 class="card-title">About</h4>
                                <p class="card-text">{{ employees.worker_bio }}</p>


                                <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                            </div>
                        </div>



                        <div class="card" style="margin-bottom: 60px">
                            <div class="card-header" >
                                <h1 id="timeline" style="text-align: center; font-weight: 300; margin-bottom: 40px; margin-top: 40px">Work Experience</h1>
                            </div>
                            <div class="card-block" style="padding: 20px">
                                <ul class="timeline">

                                    {% for experience in experiences %}
                                    <li>
                                        <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">{{experience.job_title}}</h4>
                                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{experience.from_date}} - {{experience.to_date}} </small></p>
                                            </div>
                                            <div class="timeline-body">
                                                <p> {{experience.job_description}}</p>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                    <!--<li class="timeline-inverted">
                                        <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                                                <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="timeline-inverted">
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                                                <hr>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                                        <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="#">Action</a></li>
                                                        <li><a href="#">Another action</a></li>
                                                        <li><a href="#">Something else here</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">Separated link</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="timeline-inverted">
                                        <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                                            </div>
                                        </div>
                                    </li>-->
                                </ul>
                            </div>
                        </div>

                        <div class="card" style="margin-bottom: 60px">
                            <div class="card-block">
                                <h4 class="card-title">Recommendations</h4>

                                <div class="card card-outline-primary mb-3">
                                  <div class="card-block">
                                    <blockquote class="card-blockquote">
                                      <h4 style="margin-top: 30px" class="card-title"><span style="font-weight: bold">{{ employees.worker_name }}</span></h4>
                                        <hr>
                                        <p class="card-text"><span class="profile_text_titles">Relationship:&emsp;&emsp;&emsp;&emsp; </span> {{employees.skills }}</p>
                                        <p class="card-text"><span class="profile_text_titles">Skills or Position:&emsp;&emsp;&nbsp;</span>   Nairobi, Kenya.</p>
                                        <p class="card-text"><span class="profile_text_titles">Remark:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;</span> Plumbing and Chief Chef</p>
                                    </blockquote>
                                  </div>
                                </div>





                                <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

{% endblock %}