<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport">
    <title>Ajira</title>

    <link href="../../assets/css/material.min.css" rel="stylesheet">
    <link href="../../assets/css/docs.min.css" rel="stylesheet">
    <link href="../../assets/css/project.min.css" rel="stylesheet">
    <link href="../../assets/css/cdn_ajira_custom.css" rel="stylesheet">
    <link href="../../assets/css/cdn_ajira_timeline.css" rel="stylesheet">

    <script src="../../assets/js/jquery.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <script src="../../assets/js/material.js"></script>
    <script src="../../assets/js/project.js"></script>
</head>
<body>

<main>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="background-color: #ffffff!important;border-bottom: 1px solid #d7d7d7;">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img class="ajira-logo" src="../../assets/images/logo_smallest.png"/>
        </a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                <li class="nav-item active">
                    <a class="nav-link" href="../home/home.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="../../views/domestic_workers/domestic_workers.html">Domestic Workers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../views/employers/employers.html">Employers</a>
                </li>
            </ul>
            <!--<form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>-->
        </div>
    </nav>


    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h1 class="display-3" style="text-align: center; font-weight: 300; margin-top: 40px">My Profile</h1>

            <!--<h1 class="lead" style="text-align: center; font-weight: 300; margin-top: 40px">
                Already registered as an Ajira Client? <a href="../login.html">Sign in</a>
            </h1>
            <h1 class="lead" style="text-align: center; font-weight: 300; margin-top: 20px">
                Looking to be an Ajiriwa? <a href="../domestic_workers/employee_registration.html">Register as an Ajiriwa</a>
            </h1>-->

        </div>
    </div>

        <!--Timeline-->
        <div class="container">

            <div class="col-md-12">


                <div class="row">
                    <div class="offset-md-1 col-md-10">

                        <div class="card" style="margin-bottom: 60px">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img class="img-thumbnail" width="300px" src="../../assets/images/workers/female.jpg">
                                    </div>
                                    <div class="col-md-5" >
                                        <h4 style="margin-top: 30px" class="card-title">Sarah Walker</h4>
                                        <p class="card-text"><span class="profile_text_titles">Skills:</span> Cooking, Plumbing</p>
                                        <p class="card-text"><span class="profile_text_titles">Location:</span> Nairobi, Kenya.</p>
                                        <p class="card-text"><span class="profile_text_titles">Services:</span> Plumbing and Chief Chef</p>
                                        <a href="#" class="btn btn-primary" style="margin-top: 20px">Contact Ajiriwa</a>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="card" style="margin-bottom: 60px">
                            <div class="card-block">
                                <h4 class="card-title">About</h4>
                                <p class="card-text">My name is Scott Hanselman. I'm a programmer, teacher, and speaker. I work out of my home office in Portland,
                                    Oregon for the Web Platform Team at Microsoft, but this blog, its content and opinions are my own. I blog about technology,
                                    culture, gadgets, diversity, code, the web, where we're going and where we've been. I'm excited about community, social equity,
                                    media, entrepreneurship and above all, the open web.</p>

                                <p class="card-text">I have three podcasts and a YouTube channel. One podcast is a weekly talk show on tech, one an occasional one
                                    hour essay on developer's lives, and one a social media and tech culture show with my friend Luvvie.</p>
                                <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                            </div>
                        </div>

                        <div class="card" style="margin-bottom: 60px">
                            <div class="card-header" >
                                <h1 id="timeline" style="text-align: center; font-weight: 300; margin-bottom: 40px; margin-top: 40px">Work Experience</h1>
                            </div>
                            <div class="card-block" style="padding: 20px">
                                <ul class="timeline">
                                    <li>
                                        <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> May 2015 - Jan 2016</small></p>
                                            </div>
                                            <div class="timeline-body">
                                                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="timeline-inverted">
                                        <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                                                <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="timeline-inverted">
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                                                <hr>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                                        <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="#">Action</a></li>
                                                        <li><a href="#">Another action</a></li>
                                                        <li><a href="#">Something else here</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">Separated link</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="timeline-inverted">
                                        <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





</main>

<footer>
    <section class="footer footer_sitemap">

        <div class="container">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4 footer_column">
                        <h4>Ajira.org</h4>
                        <ul>
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">Objectives</a>
                            </li>
                            <li>
                                <a href="#">Our Work</a>
                            </li>
                            <!--<li>
                                <a href="#">Item 4</a>
                            </li>-->
                        </ul>

                    </div>

                    <div class="col-lg-4 footer_column">
                        <h4>Domestic Worker</h4>
                        <ul>
                            <li>
                                <a href="#">Profiles</a>
                            </li>
                            <li>
                                <a href="#">Advantages</a>
                            </li>
                            <li>
                                <a href="#">How to Sign Up</a>
                            </li>
                            <li>
                                <a href="#">Become a professional</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-4 footer_column">
                        <h4>Employee</h4>
                        <ul>
                            <li>
                                <a href="#">Sign Up</a>
                            </li>
                            <li>
                                <a href="#">How to get the services</a>
                            </li>
                            <li>
                                <a href="#">Make Recommendations</a>
                            </li>
                            <li>
                                <a href="#">Post job</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="footer footer_general">

        <div class="container">


            <ul class="nav justify-content-lg-start">
                <li class="nav-item">
                    <a class="nav-link active" href="#"><img style="margin-top: -28px; margin-left: -15px" src="../../assets/images/logo_smallest.png"/></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Terms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help</a>
                </li>
            </ul>
        </div>

    </section>

</footer>
</body>
</html>