{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport">
    <title>
        Ajira | {% block title %}{% endblock %}
    </title>

    <link href="{% static 'css/font_awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'css/material.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/docs.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/project.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/cdn_ajira_custom.css' %}" rel="stylesheet">


    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/tether.min.js' %}"></script>
    <script src="{% static 'js/material.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/project.js' %}"></script>
</head>
<body>

<main>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="background-color: #ffffff!important;border-bottom: 1px solid #d7d7d7;">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img class="ajira-logo" src="/ajira_static/images/logo_smallest.png"/>
    </a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item" id="home_nav">
                <a class="nav-link"   onclick="assignAjiriwaActive()" href="{% url 'home' %}">Home </a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li>-->
            <li class="nav-item" id="ajiriwa_nav" >
                <a class="nav-link" onclick="assignAjiriwaActive()" href="{% url 'ajiriwa' %}">Domestic Workers</a>
            </li>
            <li class="nav-item" id="employer_nav">
                <a class="nav-link"  onclick="assignEmployersActive()" href="{% url 'employer' %}">Employers</a>
            </li>
        </ul>

        <script>
            function assignHomeActive(){
                document.getElementById('home_nav').className.add('active');
                document.getElementById('ajiriwa_nav').className.remove('active');
                document.getElementById('employer_nav').className.remove('active');
            }
            function assignAjiriwaActive(){
                document.getElementById('ajiriwa_nav').classList.add('active');
                document.getElementById('home_nav').classList.remove('active');
                document.getElementById('employer_nav').classList.remove('active');
            }
            function assignEmployersActive(){
                document.getElementById('employer_nav').classList.add('active');
                document.getElementById('home_nav').classList.remove('active');
                document.getElementById('ajiriwa_nav').classList.remove('active');
            }
        </script>

        {% if user.is_authenticated %}


            {% if request.session.member_usertype == "mwajiri" %}
                <form class="form-inline my-2 my-lg-0">
                  <!--<h1>{{ request.session.member_slug }}</h1>-->
                    <a href="/my_mwajiri_profile/{{ request.session.member_slug }}/" class="btn btn-outline-success my-2 my-sm-0" >My Profile</a>
                  <a href="{% url 'logout_view' %}" class="btn btn-outline-danger my-2 my-sm-0" >Log Out</a>
              </form>

            {% elif request.session.member_usertype == "ajiriwa" %}
                <form class="form-inline my-2 my-lg-0">
                  <!--<h1>{{ request.session.member_slug }}</h1>-->
                  <a href="/my_profile/{{ request.session.member_slug }}/" class="btn btn-outline-success my-2 my-sm-0" >My Profile</a>
                  <a href="{% url 'logout_view' %}" class="btn btn-outline-danger my-2 my-sm-0" >Log Out</a>
              </form>

            {% endif %}



            {% else %}
              <form class="form-inline my-2 my-lg-0">
                  <a href="{% url 'ajiriwa_reg' %}" class="btn btn-outline-info my-2 my-sm-0" >Sign Up</a>
                  <a href="{% url 'index' %}" class="btn btn-outline-success my-2 my-sm-0" >Log In</a>
              </form>
            {% endif %}

    </div>
</nav>

{% block content %}

{% endblock %}
</main>

<footer>
    <section class="footer footer_sitemap">

        <div class="container">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4 footer_column">
                        <h4>Ajira.org</h4>
                        <ul>
                            <li>
                                <a href="{% url 'home' %}">Home</a>
                            </li>
                            <li>
                                <a href="{% url 'index' %}">Log In</a>
                            </li>

                        </ul>

                    </div>

                    <div class="col-lg-4 footer_column">
                        <h4>Domestic Worker</h4>
                        <ul>
                            <li>
                                <a href="{% url 'ajiriwa' %}">Profiles</a>
                            </li>
                            <li>
                                <a href="{% url 'ajiriwa' %}">Advantages</a>
                            </li>
                            <li>
                                <a href="{% url 'ajiriwa' %}">How to Sign Up</a>
                            </li>
                            <li>
                                <a href="{% url 'ajiriwa_reg' %}">Become an Ajiriwa</a>
                            </li>
                            <li>
                                <a href="{% url 'view_job' %}">View Jobs</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-4 footer_column">
                        <h4>Employee</h4>
                        <ul>
                            <li>
                                <a href="{% url 'employer_reg' %}">Sign Up</a>
                            </li>
                            <li>
                                <a href="{% url 'employer' %}">How to get the services</a>
                            </li>
                            <li>
                                <a href="{% url 'recommend' %}">Make Recommendations</a>
                            </li>
                            <li>
                                <a href="{% url 'post_job' %}">Post job</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="footer footer_general">

        <div class="container" style="width:1360px">


            <ul class="nav justify-content-lg-start">
                <li class="nav-item">
                    <a class="nav-link active" href="#"><img style="margin-top: -28px; margin-left: -15px" src="/ajira_static/images/logo_smallest.png"/></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Terms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help</a>
                </li>
            </ul>
        </div>

    </section>

</footer>

<!--Script for the dropdowns-->
<script>
    $(document).ready(function(){
      $('.dropdown-toggle').dropdown().on("click", function(e){
        $(this).next('.dropdown-menu').toggle();
        e.stopPropagation();
        e.preventDefault();
      });
    });
</script>

</body>
</html>