<!--<style>
    .pagination {
        padding-left: 0;
        margin: 20px 0;
        margin-left: 29%;
        border-radius: 4px;
    }
    .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
        z-index: 2;
        color: #fff;
        cursor: default;
        background-color: #45a416;
        border-color: #45a416;
    }

</style>-->

<nav aria-label="Page navigation">
    {% if page.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% if page.has_previous %}
                <li class="page-item">
                <a class="page-link" aria-label="Previous" href="?page={{ page.previous_page_number }}">&laquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
            {% endif %}
            {% for pages in page.paginator.page_range %}
                {% if page.number == pages %}
                     <li class="page-item active"><span class="page-link">{{ pages }}<span class="sr-only">(current)</span></span></li>
                {% else %}
                     <li class="page-item"><a class="page-link" href="?page={{ pages }}">{{ pages }}</a></li>
                {% endif %}

            {% endfor %}
            {% if page.has_next%}
                <li class="page-item">
                <a class="page-link" aria-label="Next" href="?page={{ page.next_page_number }}">&raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}

        </ul>
    {% endif %}
</nav>

<!--
<span class="page-link">
        2
        <span class="sr-only">(current)</span>
      </span>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>-->
